.link{
    color: white;
    font-weight: bold;
    font-size: 1em;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
}
.card{
    margin: 1em!important;
    display: flex!important;
    padding: 1em;
    flex: 1!important;
    flex-direction: row!important;
    justify-content: space-between!important;
}

.title{
    font-weight: bold;
    padding-bottom: 0.5em;
}